<section class="bg-dark py-5" id="about">

<div class="container">
  <h1 class="text-white pb-5">About me</h1>
</div>

<div class="container text-center hero-container" data-aos="fade-down" data-aos-duration="1500" data-aos-anchor-placement="bottom-bottom">
  <img src="assets/Photos/profile-pic (2).webp" class="hero-img" alt="Hero image">
</div>

<div class="container">

  <div class="card w-75 shadow-lg about-card px-3" data-aos="fade-left" data-aos-duration="1500" data-aos-anchor-placement="top-bottom">
    <p class="hero-title">I'm <strong>Austin Breckenfelder</strong>, a Full Stack Software developer from <em>Denver, Colorado</em>.
      I have rich experience in web site / web-app building and customization, REST API design and development, and some wordpress
      experience.
    </p>
    <a href="assets/cv/Austin-Breckenfelder-Resume.pdf" download class="btn btn-primary mb-3">Download CV</a>
  </div>
</div>

</section>
