<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center  my-4 border-top">
    <div class="info">

      <p class="col-md-4 mt-2 mb-0 text-muted">&copy; 2022 Austin Breckenfelder</p>
      <p class="text-muted mb-0">Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA" target="_blank">Icons 8</a>,
        <a href="https://icons8.com/illustrations/author/RogqKjMRAQ79" target="_blank">Polina Orlova</a>
        from <a href="https://icons8.com/illustrations" target="_blank">Ouch!</a></p>
      <p class="text-muted">Icons by <a href="https://icons8.com/" target="_blank">Icons 8</a></p> 
      </div>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#projects" class="nav-link px-2 text-muted">Projects</a></li>
      <li class="nav-item"><a href="#skills" class="nav-link px-2 text-muted">Skills</a></li>
      <li class="nav-item"><a href="#about" class="nav-link px-2 text-muted">About</a></li>
      <li class="nav-item"><a href="#contact" class="nav-link px-2 text-muted">Contact</a></li>
    </ul>
  </footer>
</div>
