<section class="bg-dark py-5">

<div class="container">
  <h1 class="text-white pb-5">About me</h1>
</div>

<div class="container text-center hero-container">
  <img src="assets/Photos/profile-pic (2).png" class="hero-img">
</div>

<div class="container">

  <div class="card w-75 shadow-lg about-card px-3">
    <p class="hero-title">I'm <strong>Austin Breckenfelder</strong>, a Full Stack Sowfware developer from <em>Denver, Colorado</em>.
      I have rich experince in web site / web-app building and customization, REST API desgin and development, and some wordpress
      experince.
    </p>
    <button class="btn btn-primary mb-3">Download CV</button>
  </div>
</div>

</section>
