<div class="text-white bg-dark main-cover">
<main class="cover-container p-3 mx-auto flex-column px-3">


  <div data-aos="fade-up" data-aos-duration="2000">

    <h1>Hi, 👋🏼</h1>
    <h1>Im Austin Breckenfelder</h1>
    <h1 class="mb-2">Full Stack Developer</h1>
    <div class="social-icons mb-3">
      <a href="https://www.linkedin.com/in/austin-breckenfelder/" class="social-links" target="_blank"><i class="fa-brands fa-linkedin ms-1 me-3"></i></a>
      <a href="https://github.com/breckiam" class="social-links" target="_blank"><i class="fa-brands fa-github-square"></i></a>
    </div>

    <p class="lead">
      <a href="#contact" class="btn btn-lg btn-secondary fw-bold text-dark border-white bg-white hire-me" >Hire me</a>
    </p>
  </div>

</main>

<div class="container">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <span class="text">Scroll down</span>
</div>
</div>
