<div class="text-white bg-dark main-cover">
<main class="cover-container p-3 mx-auto flex-column px-3">


  <div data-aos="fade-up" data-aos-duration="2000">

    <h1>Hi, 👋🏼</h1>
    <h1>Im Austin Breckenfelder</h1>
    <h1 class="mb-4">Full Stack Developer</h1>

    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold text-dark border-white bg-white">Hire me</a>
    </p>
  </div>

</main>

<div class="container">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <span class="text">Scroll down</span>
</div>
</div>
