

.skills-container {
  margin-top: 3vh;
  font-size: 20vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: repeat(auto);
  grid-row-gap: 2vw;
  color: white
}

@media screen and (max-width: 500px) {
  h5 {
    font-size: 1em;
  }
}
