<section class="bg-dark pt-5 pb-5" id="skills">
  <div class="container text-white">
    <h2 class="pb-2 border-bottom">Skills</h2>
  </div>

  <div class="container skills-container" >
    <i class="fa-brands fa-java" data-aos="zoom-in-left" data-aos-duration="1500"></i>
    <i class="fa-brands fa-js-square" data-aos="zoom-in-right" data-aos-duration="1500"></i>
<i class="fa-brands fa-html5" data-aos="zoom-in-left" data-aos-duration="1500"></i>
<i class="fa-brands fa-css3-alt" data-aos="zoom-in-right" data-aos-duration="1500"></i>
<i class="fa-brands fa-angular" data-aos="zoom-in-left" data-aos-duration="1500"></i>
<i class="fa-brands fa-git-square" data-aos="zoom-in-right" data-aos-duration="1500"></i>
</div>

</section>
